#include "winver.h"

1 TYPELIB "customax.rc"
1 ICON DISCARDABLE "customax.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040000L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "Inha Univ. EmCL."
            VALUE "FileDescription", "Custom Qt Widget for EmCL Studio Version 0.1(Test)"
            VALUE "FileVersion", "0.1.0.0"
            VALUE "LegalCopyright", "Copyright (C) 2015 The Qt Company Ltd."
            VALUE "InternalName", "customax.dll"
            VALUE "OriginalFilename", "customax.dll"
            VALUE "ProductName", "Custom Qt Widget for EmCL Studio Version 0.1(Test)"
            VALUE "ProductVersion", "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
